<% questiongroup_id = params[:group] %>
<%=  form_with model: @question do |form| %>
  <p><%= form.text_area :questiontype %></p>
  <p><%= form.select :questiongroup_id, [['',questiongroup_id]] %></p>
  <p><%= form.submit 'Создать' %></p>
<% end %>

<p><%= link_to "назад", questiongroup_path(Questiongroup.find(params[:group])) %></p>