<div class="container">
  <p><%= @question.questiontype %></p>

  <% if already_answered? %>
    <% @answer = Answer.find_by question_id: @question.id, user_id: current_user.id %>
    <div class="mt-sm"><%= "Your answer is #{@answer.answer_val}" %>
    <%= button_to fa_icon('pencil'), "/questions/#{@answer.question_id}/answers/#{@answer.id}", method: :delete, title: 'Удалить' %></div> <!--question_answer_path doesn't work-->
  <% else %>
    <%= form_with model: [@question, @answer] do |form| %>
      <p class="mt"><%= form.label 'Your grade is' %>
      <%= form.select :answer_val, [['1',1],['2',2],['3',3],['4',4],['5',5]] %></p>
      <p><%= form.select :user_id, [['',current_user.id]] %></p>
      <p class="mt"><%= form.submit 'Answer', class: 'button button-main' %></p>
    <% end %>
  <% end %>

  <p class="mt"><%= link_to "back", "/questiongroups/#{@question[:questiongroup_id]}" %></p>
</div>