<div class="container">
  <p class="title-lg mb">Questions</p>

  <% if policy(Question).create? %>
    <%= link_to "Create", new_survey_question_group_question_path(@survey, @question_group), class: 'button button-main' %>
  <% end %>

  <% @questions.each do |question| %>
    <div class="mt">
    <%= link_to question.questiontype, survey_question_group_question_path(@survey, @question_group, question) %>

    <% if policy(question).edit? %>
      <%= link_to fa_icon('pencil'), edit_survey_question_group_question_path(@survey, @question_group, question), title: 'Edit' %>
    <% end %>

    <% if policy(question).destroy? %>
      <%= button_to fa_icon('trash-o'), survey_question_group_question_path(@survey, @question_group, question), method: :delete, title: 'Delete' %>
    <% end %>
    </div>
  <% end %>

  <p class="mt"><%= link_to "back", survey_path(@survey) %></p>
</div>