<p>Вопросы <%= link_to "создать", "/questions/new?group=#{@group}" %></p> 

<% @questions.each do |question| %>
  <p><%= question.questiontype%>
  <%= link_to "изменить", edit_question_path(question) %></p>
  <%= button_to "удалить", question_path(question), method: :delete %>
<% end %>

<p><%= link_to "назад", "/surveys/#{@questiongroup[:survey_id]}" %></p>