<div class="container">
  <p class="title-lg mb">Questions</p>
  <%= link_to "Create", "/questions/new?group=#{@group}", class: 'button button-main' %>

  <% @questions.each do |question| %>
    <div class="mt">
    <%= link_to question.questiontype, question_path(question) %>
    <%= link_to fa_icon('pencil'), edit_question_path(question), title: 'Редактировать' %>
    <%= button_to fa_icon('trash-o'), question_path(question), method: :delete, title: 'Удалить' %>
    </div>
  <% end %>

  <p class="mt"><%= link_to "back", "/surveys/#{@questiongroup[:survey_id]}" %></p>
</div>