<div class="container">
  <p class="title-lg mb">Question groups</p>

  <% if policy(QuestionGroup).create? %>
  <%= link_to "Create", new_survey_question_group_path(@survey), class: 'button button-main' %>
  <% end %>

  <% @question_group.each do |question_group| %>
    <div class="mt">
    <%= link_to question_group.label, survey_question_group_path(@survey, question_group) %>

    <% if policy(question_group).edit? %>
      <%= link_to fa_icon('pencil'), edit_survey_question_group_path(@survey, question_group), title: 'Edit' %>
    <% end %>

    <% if policy(question_group).destroy? %>
      <%= button_to fa_icon('trash-o'), survey_question_group_path(@survey, question_group), method: :delete, title: 'Delete' %>
    <% end %>
    </div>
  <% end %>

  <p class="mt"><%= link_to "back", surveys_path %></p>
</div>