<div class="container">
  <p class="title-lg mb">Question groups</p>

  <% if policy(QuestionGroup).create? %>
    <%= link_to "Create", "/question_groups/new?group=#{@group}", class: 'button button-main' %>
  <% end %>

  <% @questiongroup.each do |questiongroup| %>
    <div class="mt">
    <%= link_to questiongroup.label, question_group_path(questiongroup) %>

    <% if policy(questiongroup).edit? %>
      <%= link_to fa_icon('pencil'), edit_question_group_path(questiongroup), title: 'Edit' %>
    <% end %>

    <% if policy(questiongroup).destroy? %>
      <%= button_to fa_icon('trash-o'), question_group_path(questiongroup), method: :delete, title: 'Delete' %>
    <% end %>
    </div>
  <% end %>

  <p class="mt"><%= link_to "back", surveys_path %></p>
</div>