<p>Группы вопросов <%= link_to "создать", "/questiongroups/new?group=#{@group}" %></p>

<% @questiongroup.each do |questiongroup| %>
  <p>
  <%= link_to questiongroup.label, questiongroup_path(questiongroup) %>
  <%= link_to "изменить", edit_questiongroup_path(questiongroup) %>
  </p>
  <%= button_to "удалить", questiongroup_path(questiongroup), method: :delete %>
<% end %>

<p><%= link_to "назад", surveys_path %></p>