<div class="container">
  <p class="title-lg mb">Группы вопросов</p>
  <%= link_to "Создать", "/questiongroups/new?group=#{@group}", class: 'button button-main' %>

  <% @questiongroup.each do |questiongroup| %>
    <div class="mt">
    <%= link_to questiongroup.label, questiongroup_path(questiongroup) %>
    <%= link_to fa_icon('pencil'), edit_questiongroup_path(questiongroup), title: 'Редактировать' %>
    <%= button_to fa_icon('trash-o'), questiongroup_path(questiongroup), method: :delete, title: 'Удалить' %>
    </div>
  <% end %>

  <p class="mt"><%= link_to "назад", surveys_path %></p>
</div>